DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
PRINT_AGENT_AUTH_SECRET="super-secret-agent-token-123"
RAZORPAY_KEY_ID="rzp_test_mockKeyId123"
RAZORPAY_KEY_SECRET="mockSecret456"
RAZORPAY_WEBHOOK_SECRET="mockWebhookSecret789"
ADMIN_PASSWORD_HASH="$2b$10$Ep9.wH1p7bKzYVd7b/R5yeuE26X.xJpBwXG71r6cQ2rD9c81pT.Xq" # bcrypt hash of 'admin123'
