# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build
/.next/
/out/

# Production & Temp Files
/uploads
/temp_prints
print-agent/temp_prints
mock_db.json
dev.db
*.log

# Environment variables (Do not commit secrets)
.env
.env*.local

# IDE & OS
.DS_Store
*.pem
.idea
.vscode
.vercel
